.skills {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skillSet__title__text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.skillSet__title {
    text-align: center;
}

.skillSet {
    width: 30%;
    margin: 1rem 0;
}