/* .skills {
    margin: 4rem 0 2rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    height: 80vh;
    overflow: hidden;
} */

.skillSet__title__text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.skillSet li {
    list-style-type: none;
    margin: 0.5rem 1rem;
    color: #ffffffda;
    transition: .4s;
    display: flex;
    align-items: center;
    padding: .5rem 0;
}

.skillSet li img {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.skillSet:hover li {
    color: #ffffff;
    transform: translateY(-5px);
}

.skillSet:hover li img {
    transform: scale(1.2);
}

.skillSet::before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, rgba(9, 255, 5, 0.5) 0%, rgba(255, 0, 0, 0.5) 100%);
    position: absolute;
}

.skillSet__title {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}

.skillSet__title span {
    padding: 1rem 0;
    border-bottom: 4px solid rgb(255, 28, 28);
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.skillSet__title__line {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.63);
    text-align: center;
    margin: 1rem 0;
}

.skillSet__title__line__inner {
    margin: 24px 0 80px 0;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
}

.skillSet {
    margin: 1rem 0;
}


/* Generated code  */


/* .wave-container {
    height: 40vh;
    background-color: #000000;
    position: relative;
}

.wave-container::before {
    content: "";
    width: 100%;
    height: 135px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 54vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%238150cc'/></svg>");
}

@media(max-width:850px) {
    .wave-container::before {
        height: 67.5px
    }
} */