.skills {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.skillSet__title__text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.skillSet__title {
    text-align: center;
    font-size: 2rem;
}

.skillSet__title__line {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.63);
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.flexItem {
    flex: 1;
}

.skillSet__title__line__inner {
    flex-grow: 1;
}

.skillSet {
    margin: 1rem 0;
}