.skills {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.skillSet__title__text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.skillSet__title__line {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.63);
    text-align: center;
}

.skillSet__title__line__inner {
    margin: 1rem 0;
}

.skillSet__title__line__inner span:hover {
    color: #ffffff;
}

.skillSet {
    margin: 1rem 0;
}