#contact {
  /* background: rgb(118, 255, 193); */
  background: linear-gradient(90deg, #ccff00 40%, #3ad59f 100%);
  background-size: cover;
  /* background-repeat: no-repeat; */
  color: #000000;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Raleway", sans-serif;
}

#contact .contactInfo p {
  font-size: 4em;
  font-weight: 900;
  margin: 0;
  line-height: 1;
}

#contact .contactInfo .contactMoto {
  font-size: 1.2em;
  font-weight: 500;
  display: block;
}

#contact .contactInfo .contactMail {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  line-height: 1.2;
  background-color: #ffffffa5;
  transition: 1s;
}

#contact .contactInfo .contactMail:hover {
  background-color: #fffffffe;
}

#contact .contactInfo .contactMail .img-fluid {
  max-height: 3em;
  max-width: 3em;
}

#contact .contactInfo .contactMail i {
  font-size: 1.5em;
  opacity: 0.5;
  margin-right: 0.5em;
  color: #000000;
}

#contact .contactInfo .contactMail a {
  color: #1a1818;
  font-size: 1.1em;
  font-weight: 600;
  display: block;
  text-decoration: none;
}

#contact .contactInfo .contactMail a:hover {
  text-decoration: underline;
}

#contact .contactInfo .contactMail span {
  color: rgb(34, 0, 255);
}

#contact .contactInfo .contactMail span:hover {
  color: rgb(0, 0, 0);
}

/* contact form  */

#contact .card {
  max-width: 500px;
  background: #ffffffd1;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.061);
  padding: 2em;
  display: grid;
  flex-direction: column;
  justify-content: center;
  transition: 0.7s;
}

#contact .card:hover {
  box-shadow: rgba(149, 157, 165, 0.725) 0px 8px 24px;
  background-color: #fff;
}

.contactForm h1 {
  font-size: 2em;
  font-weight: 700;
}

.footerBtn {
  background-color: #6a00ff;
  color: #fff;
  border: 1px solid #6a00ff;
  border-radius: 10px;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1em;
}

.footerBtn:hover {
  border: 1px solid #6a00ff;
}

#contact .card input:focus {
  outline: #6a00ff 1px solid;
}

#contact .card input,
textarea {
  background-color: #ffffff97;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.061);
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  color: #000000;
  border-radius: 10px;
  margin-top: 1em;
  transition: all 0.3s ease;
}

#contact .card input[placeholder] {
  font-size: 1em;
  font-weight: 500;
  color: #000000;
  border-radius: 10px;
  margin-top: 1em;
  transition: all 0.3s ease;
}
