#contact {
    background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 2px, rgba(0, 0, 0, 0.03) 2px, rgba(0, 0, 0, 0.03) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, 0.03) 5px, rgba(0, 0, 0, 0.03) 7px), repeating-radial-gradient(circle at center center, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 9px, rgb(255, 255, 255) 9px, rgb(255, 255, 255) 21px, rgb(255, 255, 255) 21px, rgb(255, 255, 255) 31px, rgb(255, 255, 255) 31px, rgb(255, 255, 255) 40px);
    background-size: 20px 20px;
    color: #1a1818;
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Raleway', sans-serif;
}

#contact .contactInfo p {
    font-size: 4em;
    font-weight: 900;
    margin: 0;
    line-height: 1;
}

#contact .contactInfo .contactMoto {
    font-size: 1.2em;
    font-weight: 500;
    display: block;
}

#contact .contactInfo .contactMail {
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.056);
    line-height: 1.2;
}

#contact .contactInfo .contactMail i {
    font-size: 1.5em;
    opacity: .5;
    margin-right: 0.5em;
    color: #000000;
}

#contact .contactInfo .contactMail a {
    color: #1a1818;
    font-size: 1.1em;
    font-weight: 600;
    display: block;
    text-decoration: none;
}

#contact .contactInfo .contactMail a:hover {
    text-decoration: underline;
}

#contact .contactInfo .contactMail span {
    color: rgb(34, 0, 255);
}

#contact .contactInfo .contactMail span:hover {
    color: rgb(0, 0, 0);
}


/* contact form  */

#contact .card {
    max-width: 500px;
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.061);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactForm h1 {
    font-size: 2em;
    font-weight: 700;
}