.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10rem;
    padding: 0 1rem;
    color: aliceblue;
    background-color: cadetblue;
}