#card {
    background-color: #65645d;
    /* width: 18rem */
    overflow: hidden;
}

.card-img {
    overflow: hidden;
}

.img-fluid {
    border-radius: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}

.img-fluid:hover {
    border-radius: 0;
    transform: scale(1.1);
}


/* Path: src/Components/Home/Project/Projects.css */

.project__title {
    color: rgb(255, 255, 255);
    text-align: center;
}

.project__title h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}