#card {
    background-color: #2c2d2c;
    /* width: 18rem */
    overflow: hidden;
    color: aliceblue;
    position: relative;
    text-align: center;
    transition: .5s;
}

#card:hover {
    background-color: #2c2d2c;
    /* width: 18rem */
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-15px);
    transition: 0.5s;
}

#card:hover span {
    color: aliceblue;
}

.card-img {
    overflow: hidden;
}

.img-fluid {
    border-radius: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}

.card-img-top:hover {
    border-radius: 0;
    transform: scale(1.2);
}


/* Path: src/Components/Home/Project/Projects.css */

.project__title {
    color: rgba(255, 255, 255, 0.664);
    text-align: center;
}

.project__title h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.project__title__line {
    font-weight: 500;
    font-size: 1.1rem;
}

.project__title__line a {
    color: #0099ff;
    text-decoration: none;
    font-weight: 600;
}

.project__title__line a:hover {
    color: #1da5ff;
    text-decoration: underline;
    font-weight: 600;
}

.card_img__link {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: -40px;
    background-color: rgba(0, 0, 0, 0.507);
    transition: 0.5s;
}

.card_img__link a {
    color: #dbdbdb;
    text-decoration: none;
    font-weight: 700;
    margin: 0 .5rem;
}

.card_img__link a:hover {
    color: #eae8ff;
    text-decoration: none;
    font-weight: 700;
}


/* .card_img__link i {
    width: 35px;
    position: absolute;
    height: auto;
    z-index: 1;
    top: 0;
} */


/* .githubIcon {
    right: 5px;
}

.redirect {
    max-width: 40px;
    margin-top: 6px;
    color: #0099ff;
} */

.card-body {
    z-index: 111;
}

.card-body h5 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.card-body .stacks {
    margin: 0;
    transform: translatey(-10px);
}

.card-body .stack {
    display: inline;
    font-size: .8rem;
    font-weight: 600;
    color: #dddddd;
    background-color: rgb(73, 73, 73);
    margin: .1rem;
    border-radius: 5px;
    text-align: left;
}

.card-text {
    color: #dbdbdbbb;
}

.card-text:hover {
    color: #eae8ff;
}