.navBar {
    padding: 1vw 0;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000000dc;
    z-index: 1111111;
    text-align: center;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navbar-nav li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.703);
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    margin: 0 1rem;
}

.navbar-nav li a:hover {
    color: #ffffff;
}

.navbar-nav li a.active {
    color: #bb0707;
}

.navbar-nav li a.active:hover {
    color: #f1f1f1;
}

.navbar-nav li a.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #f1f1f1;
    margin-top: 5px;
}

.navbar-nav li a.active:hover::after {
    background: #f1f1f1;
}

.fa-brands,
.fab {
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
}

.fa-bars {
    color: #fff;
}

.navbar-brand .img-fluid {
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin-top: -50px;
    margin-bottom: -50px;
}

.navbar-nav .nav-item .nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: auto;
    background: #f1f1f1;
}