.row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    gap: 2rem;
}

.col {
    flex-basis: 45%;
    flex: 1;
}

.heroImage {
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    transition: .7s;
    border-radius: 30% 70% 77% 23% / 30% 30% 70% 70%;
}

.heroImage:hover {
    border-radius: 50%;
}

h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin-bottom: 1rem;
    color: rgba(240, 248, 255, 0.877);
}

p {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.568);
    line-height: 1.3;
}

p span {
    color: #fcfcfc;
}

.resume {
    padding: 1rem 2rem;
    background-color: #49ff12;
    margin-top: 1rem;
    outline: none;
    border: none;
}