.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 10px;
}

.heroImage {
    max-width: 300px;
    box-sizing: border-box;
    overflow: hidden;
}