.row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    gap: 2rem;
}

.col {
    flex-basis: 45%;
    flex: 1;
}

.heroImage {
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    transition: 2s;
    border-radius: 62% 38% 89% 11% / 65% 26% 74% 35%;
}

.heroImage:hover {
    border-radius: 1rem;
}

h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin-bottom: 1rem;
    color: rgba(240, 248, 255, 0.877);
}

p {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.651);
}