.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0;
    gap: 2rem;
}

.heroImage {
    max-width: 450px;
    min-width: 300px;
    box-sizing: border-box;
    overflow: hidden;
}

.h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}