/* .heroSection .img-fluid {
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 30% 70% 64% 36% / 44% 42% 58% 56%;
}

.heroSection {
    background-color: #2c2d2c;
    background-image: radial-gradient(circle at center center, transparent 0%, rgb(0, 0, 0) 99%), repeating-linear-gradient(0deg, rgba(163, 163, 163, 0.07) 0px, rgba(163, 163, 163, 0.07) 1px, transparent 1px, transparent 6px), repeating-linear-gradient(90deg, rgba(163, 163, 163, 0.07) 0px, rgba(163, 163, 163, 0.07) 1px, transparent 1px, transparent 6px), linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
    color: #ffffff;
    padding: 2rem 0;
} */

.name {
    position: relative;
    background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px #f5f5f5;
    font-size: 8em;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    margin: 0;
    line-height: 1;
}

.name:before {
    content: 'CHROME';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-position: -680px 0;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0;
    padding-right: 300px;
    -webkit-animation-name: chrome_effect;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.badge {
    position: absolute;
    margin: 0px;
    font-family: 'Mr Dafoe', cursive;
    font-size: 6em;
    color: #F975F7;
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    /* IE 9 */
    -webkit-transform: rotate(-15deg);
    /* Safari and Chrome */
    margin-top: -120px;
    -webkit-text-stroke: 1px #f008b7;
    -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
    z-index: 9;
    top: 290px;
    left: 500px;
}

.windows .badge {
    -webkit-text-stroke: 4px #f008b7;
}