.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.col {
    flex: 1;
}

.heroImage {
    max-width: 450px;
    min-width: 300px;
    box-sizing: border-box;
    overflow: hidden;
}