.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 10px;
}

.heroImage {
    min-width: 300px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}