@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700;800;900&display=swap');
.heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0 1rem;
    text-align: center;
}