.heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0 1rem;
    text-align: center;
}

.imgFluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}